<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type=“x/template”></script>
</head>

<body>
    <link rel="stylesheet" href="/css/login.css">
    <h1></h1>
        <div class="register">
            <input type="text" placeholder="Username" />
            <input type="text" placeholder="Password" />
            <input type="text" placeholder="Re-Enter Password" />
            <input type="submit" value="Login" />
            <a href="">Lost your password?</a>
        </div> 
</body>