<!DOCTYPE html>
<html>
<head>
	<title>Find Stocks</title>
	<link href="/lib/chartist/chartist.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/pure/pure-min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/login.css">

</head>
<body>
<div id="app">
  <h1>Market Mayhem</h1>
  <div>
    <router-link to="/portfolio">Portfolio</router-link>
    <router-link to="/trade">Trade</router-link>
    <router-link to="/login">Login</router-link>
  </div>
  <home-page></home-page>

</div>

	<script src="/lib/moment/moment.min.js"></script>
	<script src="/lib/chartist/chartist.min.js"></script>
	<script src="/lib/axios/axios.min.js"></script>
	<script src="/lib/vue/vue.js"></script>
	<script src="/lib/vue/vue-router.min.js"></script>
	<script src="/js/stockinfoapp/API/UserAPI.js"></script>
	<script src="/js/stockinfoapp/API/DataAPI.js"></script>
	<script src="/js/stockinfoapp/API/PortfolioAPI.js"></script>
	<script src="/js/stockinfoapp/API/TradeAPI.js"></script>
	<script src="/js/stockinfoapp/AssetInfo.js"></script>
	<script src="/js/stockinfoapp/Components/portfolio/portfolio.js"></script>
	<script src="/js/stockinfoapp/Components/user/user.js"></script>
	<script src="/js/stockinfoapp/Components/trade/trade.js"></script>
	<script src="/js/stockinfoapp/Components/Home/home.js"></script>
	<script src="/js/stockinfoapp/stockinfo.js"></script>
</body>
</html>